@import "./estilo-apresentacao.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

img {
    position: relative;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

#bebida-dados {
    @extend %fonte;
    @include media-breakpoint-down(sm) {
        width: 90%;
        height: auto;
    }
    @include media-breakpoint-down(md) {
        width: 80%;
        height: auto;
    }
    @include media-breakpoint-down(lg) {
        width: 70%;
        height: auto;
    }
    position: relative;
    width: 60%;
    height: 600px;
    max-width: 600px;
    border: 3px solid black;
    padding: 10px;
    box-shadow: 5px 6px rgb(0, 0, 0);
}

h1{
    font-weight: bold;
    font-size: 23pt;
}

.tagline{
    font-family: times;
    font-style: italic;
    font-size: 15pt;
}

.text-justify{
    font-family: serif;
    font-size: 12pt;
}

